@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* tap키 눌렀을때 까만거 안나오게 */
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  /* html 기본 폰트 사이즈 는 16px */
  font-size: 16px;
}

body {
  font-family: "Nanum Gothic", "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #777;
  line-height: 1.6;
  letter-spacing: -0.3px;
  /* 선택사항 */
  word-break: keep-all;
}
/* 공통클래스 */
.inner {
  display: block;
  width: 100%;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
