@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* tap키 눌렀을때 까만거 안나오게 */
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  /* html 기본 폰트 사이즈 는 16px */
  font-size: 16px;
}

body {
  font-family: "Nanum Gothic", "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #777;
  line-height: 1.6;
  letter-spacing: -0.3px;
  /* 선택사항 */
  word-break: keep-all;
}
/* 공통클래스 */
.inner {
  display: block;
  width: 100%;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

/* 모달 */
.modal-dim {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}
.modal-content {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 600px;
  height: 450px;
  background: #fff;
  border-radius: 20px;
}

.modal-close {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 30px;
}
.modal-middle {
  display: flex;
  justify-content: center;
  padding: 30px 30px;
}
.project-info {
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
}
.modal-footer {
  display: flex;
  justify-content: space-around;
}
.github-link {
  font-size: 35px;
}

.notion-link {
  display: flex;
  align-items: center;
}
.notion-link img {
  width: 30px;
  height: 30px;
}
.email-link {
  font-size: 30px;
}

@media screen and (max-width: 506px) {
  .modal-footer {
    margin-top: -30px;
  }
}
